
html *
{
font-family: 'Trocchi', serif;
}

.audio-player {
    width: 60%;
}

.button-wrapper .btn {
    margin-bottom:8px;
    margin-top:8px;
}

.disabled {
pointer-events: none;
opacity: 0.4;
}

.scrollable {
    max-height: 300px;
    overflow-y:auto;  
}
.alert {
    display: none;
}

.list-group-item {
   font-size: 1.5em; 
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 0px) and (max-width : 600px) {
    #volume-controls {display: none; }
   
}


/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 0px) and (max-width : 320px) {
    .action-icon { font-size: 5em; }
    #message-text { font-size: 1.3em; }
    #username { font-size: 0.8em; }
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 768px) {
    .action-icon { font-size: 6em; }
    #message-text { font-size: 1.5em; }
    #username { font-size: 1.5em; }
 
}


/* iPads  */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .action-icon { font-size: 10em; }
    #message-text { font-size: 2em; }
    #username { font-size: 2em; }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) and (max-width : 1824px) {
    .action-icon { font-size: 15em; }
    #message-text { font-size: 2.5em; }
    #username { font-size: 2.5em; }
  
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .action-icon { font-size: 18em; }
    #message-text { font-size: 3em; }
    #username { font-size: 3em; }

}

.action-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
    
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
      
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
	width: 20%;
	float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
	width: 20%;
	float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
	width: 20%;
	float: left;
    }
}

.w-100 {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}